<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Ask Dev</a>

    <div class="flex-grow-1 float-right">
      <div class="dropdown" *ngIf="isLoggedIn">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ username }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" (click)="goToUserProfile()"
              >Profile</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" (click)="logOut()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex">
      <div *ngIf="!isLoggedIn">
        <a routerLink="/sign-up" class="btn btn-outline-primary"
          >Create Account</a
        >
        <a routerLink="/login" class="btn btn-outline-info">Login</a>
      </div>
    </div>
  </div>
</nav>
