<div class="reddit-body">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- Display Posts-->
        <div class="row post" *ngFor="let post of posts$">
          <!-- Section to Display Post Information-->
          <div class="col-md-11">
            <app-vote-button [post]="post"></app-vote-button>
            <span class="subreddit-info">
              <span class="subreddit-text"
                ><a
                  class="posturl"
                  routerLink="/categories/{{ post.categoryName }}"
                  >{{ post.categoryName }}</a
                ></span
              >
              <span>
                . Posted by
                <a class="username" routerLink="/user/{{ post.userName }}">{{
                  post.userName
                }}</a></span
              >
              <span> . {{ post.duration }}</span>
            </span>
            <hr />
            <div class="post-title">
              <a class="postname" routerLink="/view-post/{{ post.id }}">{{
                post.questionName
              }}</a>
            </div>
            <div>
              <p class="post-text">{{ post.description | slice: 0:200 }}...</p>
            </div>
            <hr />
            <span>
              <a class="btnCommments" role="button">
                <fa-icon [icon]="faComments"></fa-icon>
                Answers({{ post.commentCount }})
              </a>
              <button class="login" (click)="goToPost(post.id)">
                Read Question
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
