<div class="container">
  <div class="row">
    <div class="create-subreddit-container">
      <form
        class="post-form"
        [formGroup]="createCategoryForm"
        (ngSubmit)="createCategory()"
      >
        <div class="form-group">
          <div class="create-subreddit-heading">Create Category</div>
          <hr />
          <input
            type="text"
            [formControlName]="'name'"
            class="form-control"
            style="margin-top: 5px"
            placeholder="Title"
          />
          <textarea
            type="text"
            [formControlName]="'description'"
            style="width: 100%; margin-top: 5px"
            placeholder="Description"
          ></textarea>
          <div>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discard()" class="btnDiscard">Discard</button>
              <button (click)="createCategory()" class="btn btn-primary">
                Create
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
